@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cast Iron';
  src: url('../public/castiron-condensed.otf') format('woff2'),
       url('../public/castiron-condensed.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}